* {
    margin: 0;
    padding: 0;
}

body,
html {
    width: 100%;
    height: 100%;
    background: url('/assets/images/login_bg.jpg') no-repeat;
    background-size: cover;
}

.layui-main {
    width: 1200px;
}

.layui-main .header {
    width: 100%;
    height: 60px;
    margin-top: 20px;
}

.loginbox {
    width: 400px;
    height: 310px;
    background-color: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loginbox .title{
    width: 100%;
    height: 60px;
    background-color: pink;
}